{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Reset password</title>
		
	</head>
	<body style="background-image: url('{% static 'images/body-bg.jpg' %}')">
		<div class="container" style="margin: 150px auto; width: 400px; padding:50px; background-color:rgba(177, 135, 77, 0.75) ">
			<div class="header">
				<h2>Parolni tiklash</h2>
			</div>
            <div style="margin-bottom: 20px; color: #fff;">
                <p>Agar siz kiritgan elektron pochta orqali hisob mavjud bo'lsa parolni o'rnatish boyicha ko'rsatmalarni jo'natdik Tez orada ularni qabul qilishingiz mumkin</p>
            </div>
            <div style="margin-bottom: 20px; color: #fff;">
                <p>Agar xabarni olmagan bo'lsangiz elektron pochtangizni to'g'ri kiritilganiga ishonch hosil qiling!!!</p>
            </div>
		</div> 
	</body>
</html>