{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Reset password</title>
		
	</head>
	<body style="background-image: url('{% static 'images/body-bg.jpg' %}')">
		<div class="container" style="margin: 150px auto; width: 400px; padding:50px; background-color:rgba(177, 135, 77, 0.75) ">
			<div class="header">
				<h2>Parolni tiklash</h2>
			</div>
            <div style="margin-bottom: 20px; color: #153742; padding: 0 15px;"><h4>Parolingizni tiklash uchun quyidagi ko'rsatilgan joyga elektron pochtangizni nomini kiriting!!!</h4></div>
			<form method="POST" class="form-group">
				{% csrf_token %}
				<div class="form-input">
                    {{ form }}
    				<button class="button" type="submit" style="margin-top:15px; padding:5px 10px; background: #00B533; border: none; cursor: pointer;">Yuborish</button>
				</div>
			</form>
		</div> 
	</body>
</html>