{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Reset password</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/css_main.css' %}">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h2>Yangi parolni kiriting</h2>
			</div>
            <div>
                <p>Yangi parolni 2 marta kiritib Yuborishni bosing</p>
            </div>
			<form method="POST">
				{% csrf_token %}
				<div class="content">
                    {{ form }}
    				<button class="button" type="submit" name='update_password'>Yuborish</button>
				</div>
			</form>
		</div> 
	</body>
</html>