{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Reset password</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/css_main.css' %}">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<h2>Parolni tiklash bajarildi</h2>
			</div>
            <div><p>Parolingiz o'zgardi hozirning o'zida yangi parol bilan kirishingiz mumkin</p></div>
			<form method="POST">
				{% csrf_token %}
				<div class="content">
    				<a href="sign_in"class="button" type="submit">Kirish</a>
				</div>
			</form>
		</div> 
	</body>
</html>