{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}
{% block title %} Ecoverde Blog {% endblock title %}
{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_1.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>Blog <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">Blog</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
        <div class="row d-flex">
        {% if posts %}
          {% for post in posts %}
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <a href="{% url 'blog-single' post.slug %}" class="block-20 img" style="background-image: url('{{ post.post_image.url }}');">
	              </a>
	              <div class="meta mb-3">
                  <div>{{ post.date }}</div>
                  <div>{{post.agent}}</div>
                  <div><span class="fa fa-eye"> {{ post.post_view }}</span></div>
                </div>
	              <h3 class="heading"><a href="{% url 'blog-single' post.slug %}">{{ post.title }}</a></h3>
              </div>
            </div>
          </div>
          {% endfor %}
          {% elif object_list %}
            {% for post in object_list %}
              <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                  <div class="text">
                    <a href="{% url 'blog-single' post.slug %}" class="block-20 img" style="background-image: url('{{ post.post_image.url }}');">
                    </a>
                    <div class="meta mb-3">
                      <div>{{ post.date }}</div>
                      <div>{{post.agent}}</div>
                      <div><span class="fa fa-eye"> {{ post.post_view }}</span></div>
                    </div>
                    <h3 class="heading"><a href="{% url 'blog-single' post.slug %}">{{ post.title }}</a></h3>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p class="ml-4">Bu haqida yangilik yo'q !</p>
          {% endif %}

        </div> 
        {% if posts.has_other_pages %}
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
			  	      {% if posts.has_previous %}
                  <li><a href="?page={{ posts.previous_page_number }}">&lt;</a></li>
                {% endif %}
                {% for i in posts.paginator.page_range %}
                  {% if posts.number == i %}
                    <li class="active"><span>{{ i }}</span></li>
                  {% elif i > announcements.number|add:'-2' and i < announcements.number|add:'2' %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                  <li><a href="?page={{ posts.next_page_number }}">&gt;</a></li>
                {% endif %}
              </ul>
              </div>
            </div>
          </div>
		    {% endif %}
        
        
      </div>
    </section>		

{% endblock content%}