<div class="pt-5 mt-5">
              <h3 class="mb-5">{{ comments.count }} Comments</h3>
              <h3 class="mb-5">Leave a comment</h3>
              
              {% for comment in comments %}
              <ul class="comment-list">
                
                    <li class="comment">
                    <div class="vcard bio">
                        <img src="{{comment.author.userdetail.author_image.url}}" alt="Image placeholder">
                    </div>
                    <div class="comment-body">
                        <h3>{{ comment.name }}</h3>
                        <div class="meta">{{comment.date}}</div>
                        <p>{{comment.content}}</p>
                        <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm ml-2">Reply</button>
                    </div>
                    </li>
                
                <div class="replied-comments container mt-2" style="display:none">
                    {% for reply in comment.replies.all %}
                    <ul class="comment-list">
                        <li class="comment ml-5">
                        <div class="vcard bio">
                        <img src="{{reply.author.userdetail.author_image.url}}" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                            <h3 style="font-size:14px;">{{ reply.name }}</h3>
                            <small><div class="meta h1" style="font-size:14px;">{{reply.date}}</div></small>
                            <p style="font-size:14px;">{{reply.content}}</p>
                        </div>
                        </li>
                    </ul>
                    {% endfor %}
                    <div class="form-group row">
                    {% if new_comment %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                        Your comment is awaiting moderation
                        </div>
                    {% else %}
                      <div class="form-group row">
                          <form method="POST"  class="p-3 ml-5 bg-light reply-form" action=".">
                          {% csrf_token %}
                          <input type="hidden" name="comment_id" value="{{ comment.id }}">
                          {% if not request.user.is_authenticated %}
                              <div class="form-group">
                              <label for="message">Message</label>
                              {{comment_form.content}}
                              </div>
                              <a class="btn btn-outline-info" href="{% url 'sign_up' %}?next={{request.path}}">Izoh qoldirish uchun ro'yhatdan o'ting !</a>
                          {% else %}
                              <div class="form-group">
                              <label for="message">Message</label>
                              <input type="hidden" name="name" value="{{request.user.username}}">
                              <input type="hidden" name="email" value="{{request.user.email}}">
                              {{comment_form.content}}
                              </div>
                              <div class="form-group m-0">
                              <input type="submit" value="Send" class="btn py-2 px-3 btn-primary">
                              </div>
                          {% endif %}
                          </form>
                      </div>
                    {% endif %}
                    </div>
                </div>
              </ul>
              {% endfor %}
              <!-- END comment-list -->
              {% if new_comment %}
                <div class="modal modal-success modal-dismissible fade show" role="modal">
                  Your comment is awaiting moderation
                </div>
                
              {% else %}
              <div class="comment-form-wrap pt-5">
                
                <form method="POST"  class="p-5 bg-light comment-form" action=".">
                {% csrf_token %}
                {% if not request.user.is_authenticated %}
                    <div class="form-group">
                      <label for="message">Message</label>
                      {{comment_form.content}}
                    </div>
                    <a class="btn btn-outline-info" href="{% url 'sign_up' %}?next={{request.path}}">Log in to add a comment!</a>
                {% else %}
                    <div class="form-group">
                      <label for="message">Message</label>
                      <input type="hidden" name="name" value="{{request.user.username}}">
                      <input type="hidden" name="email" value="{{request.user.email}}">
                      {{comment_form.content}}
                    </div>
                    <div class="form-group">
                      <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                    </div>
                
                  
               {% endif %}
                </form>
                
              </div>
              {% endif %}
</div>
