{% extends 'base.html' %}
{% load static %}
{% block title %} Region Properties {% endblock title %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_1.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>Properties <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">{{region.name}}</h1>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section goto-here">
    	<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 heading-section text-center ftco-animate mb-5">
						<span class="subheading">What we offer</span>
						<h2 class="mb-2">Properties</h2>
					</div>
				</div>
        <div class="row">
		{% if announcements %}
		{% for announcement in announcements %}
        	<div class="col-md-4">
			
        		<div class="property-wrap ftco-animate">
				
					{% if request.user.is_authenticated %}
					{% if announcement.image %}
						<a href="{% url 'properties-single' announcement.id %}" class="img" style="background-image: url('{{ announcement.image.url }}');">
					{% endif %}
					{% else %}
						<a href="{% url 'sign_in'%}" class="img" style="background-image: url('{{ announcement.image.url }}');">
					{% endif %}
					<div class="rent-sale">
					{% if announcement.status.id == 1 %}
        				<span class="sale">{{ announcement.status }}</span>
        			{% else %}
						<span class="rent">{{ announcement.status }}</span>
					{% endif %}
					</div>
        				<p class="price"><span class="orig-price">{{ announcement.price}}</span></p>
        			</a>
        			<div class="text">
        				<ul class="property_list">
        					<li><span class="flaticon-bed"></span>3</li>
        					<li><span class="flaticon-bathtub"></span>2</li>
        					<li><span class="flaticon-floor-plan"></span>1,878 sqft</li>
        				</ul>
        				<h3><a href="#">{{ announcement.title}}</a></h3>
        				<span class="location">{{ announcement.region}}</span>
        				<a href="#" class="d-flex align-items-center justify-content-center btn-custom">
        					<span class="fa fa-link"></span>
        				</a>
        				<div class="list-team d-flex align-items-center mt-2 pt-2 bannouncement-top">
        					<div class="d-flex align-items-center">
	        					<div class="img" style="background-image: url('{{ announcement.person_name.userdetail.author_image.url }}');"></div>
	        					<h3 class="ml-2">{{ announcement.person_name }}</h3>
	        				</div>
	        				<span class="text-right">{{ announcement.date }}</span>
        				</div>
        			</div>
				
        		</div>
			
        	</div>
		{% endfor %}
		{% else %}
		<h5>E'lonlar mavjud emas</h5>
		{% endif%}
        </div>
		{% if announcements.has_other_pages %}
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
			  	{% if announcements.has_previous %}
                <li><a href="?page={{ announcements.previous_page_number }}">&lt;</a></li>
                {% endif %}
				{% for i in announcements.paginator.page_range %}
				{% if announcements.number == i %}
				<li class="active"><span>{{ i }}</span></li>
				{% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
				{% endfor %}
				{% if announcements.has_next %}
                <li><a href="?page={{ announcements.next_page_number }}">&gt;</a></li>
              	{% endif %}
			  </ul>
            </div>
          </div>
        </div>
		{% endif %}
    	</div>
		
    </section>

{% endblock content%}
